---
import Layout from '../layouts/Layout.astro';
import MapWrapper from '../components/MapContent';

---

<Layout title="Welcome to Map">
	<main>
		<MapWrapper client:load   />
	</main>
</Layout>

<style is:global>
main .map {
	width: 100vw;
	height: 100vh;
}
</style>
